/*mixin for center element*/
/*mixin box shadow for button */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#icons_menu {
  background-color: red !important;
}

#NAVBAR {
  background-color: white;
}
#NAVBAR .container a span {
  color: black;
}
#NAVBAR .container a span #text_logo {
  color: red;
}
#NAVBAR #navbar_menu ul li a {
  color: black;
}
#NAVBAR #navbar_menu ul li a:hover {
  color: red;
}
#NAVBAR #btn_sigin {
  margin-right: 10px;
}
#NAVBAR #btn_login {
  margin-top: 2px;
  padding: 5px 20px;
  background-color: red;
  color: white !important;
  border-radius: 5px;
}
#NAVBAR #btn_login:hover {
  padding: 3px 18px;
  border: 2px solid red !important;
  background-color: white !important;
  color: red !important;
}

#section1_landing {
  background-color: red !important;
  color: white !important;
}
#section1_landing .contact_section1 {
  height: 100%;
  margin-left: 80px;
  padding-bottom: 110px;
}
#section1_landing .contact_section1 #text_primary_landing {
  font-weight: bold;
  padding-top: 170px;
}
#section1_landing .contact_section1 #btn_section1 {
  color: white !important;
  border-radius: 5px;
  border: 2px solid white;
  margin-top: 50px;
  padding: 5px 25px;
}
#section1_landing .contact_section1 #btn_section1:hover {
  background-color: white;
  color: red !important;
}

#section2_landing {
  position: relative;
  padding-right: 200px !important;
}
#section2_landing #img_body_landing_page {
  position: absolute !important;
  right: 90px !important;
}

#container_fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
  padding: 20px;
}
#container_fluid #contant {
  padding-bottom: 0 !important;
  max-width: 120vh;
  height: 80vh;
  box-shadow: 5px 5px 20px #c4c4c4;
  border-radius: 10px;
  background-color: white !important;
}
#container_fluid #contant #text_login {
  padding-left: 10px;
  margin-bottom: 50px !important;
  border-left: 3px solid red !important;
}
#container_fluid #contant #login {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 6px 100px !important;
}
#container_fluid #contant #login:hover {
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 5px 98px !important;
}
#container_fluid #contant #img_login {
  border-radius: 0px 10px 10px 0px;
  width: 100%;
  height: 100%;
}

#navbar {
  position: relative;
  background-color: red;
  color: white;
}
#navbar h1 {
  color: black;
}
#navbar #icons li {
  margin-right: 20px !important;
}
#navbar #icons li:first-child {
  margin-left: -30px !important;
}
#navbar #icons li:hover {
  color: #34B3F1;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li:nth-child(1) {
  font-weight: bold;
  margin-bottom: 15px !important;
}
#navbar ul li a {
  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  color: black;
}
#navbar #paragraph {
  font-size: small;
  position: absolute;
  top: 185px;
}

#about {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
#about .contant_about {
  margin-top: 150px !important;
}
#about #image_about #img {
  margin-top: 0px !important;
}
#about span:nth-child(1) {
  color: black;
  opacity: 0.5;
}
#about h3 span {
  color: red !important;
  opacity: 1 !important;
}

#team {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
#team .title span {
  color: black;
  opacity: 0.5;
}
#team .title h3 span {
  color: red !important;
  opacity: 1;
}
#team .contant_card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px !important;
}
#team .contant_card .card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black !important;
  border: none;
}
#team .contant_card .card:hover {
  box-shadow: 5px 5px 10px #c4c4c4;
  border: none !important;
}
#team .contant_card .card li {
  list-style: none;
  margin-right: 30px !important;
}
#team .contant_card .card li i {
  color: black;
}
#team .contant_card .card li i:hover {
  color: red;
}
#team .contant_card .card h5 {
  color: black;
  opacity: 0.5;
}
#team .contant_card .card img {
  border: none !important;
  box-shadow: 0px 3px 6px #c4c4c4;
  position: relative;
  top: -20px !important;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#cars {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cars .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cars .container .row .contant_cars {
  width: 17rem !important;
  height: 20rem !important;
  margin-bottom: 25px !important;
}
#cars .container .row .contant_cars .cars img {
  max-height: 10rem !important;
  min-height: 10rem !important;
}
#cars .container .row .contant_cars .cars .card-body {
  padding-top: 20px !important;
}
#cars .container .row .contant_cars .cars .card-body span {
  color: black;
  opacity: 0.7;
}
#cars .container .row .contant_cars .cars .card-body span:hover {
  opacity: 1 !important;
}
#cars .container .row .contant_cars .cars .card-body h5 {
  font-weight: bold;
}
#cars .container .row .contant_cars .cars .card-body p {
  color: red;
  font-weight: bold;
}
#cars .container .row .contant_cars .cars .card-body a {
  border-radius: 3px !important;
  padding: 4px 49px !important;
  background-color: white;
  color: red;
  border: 2px solid red !important;
}
#cars .container .row .contant_cars .cars .card-body a:hover {
  box-shadow: inset 3px 3px 20px red, 3px 3px 20px red;
  padding: 5px 50px;
  color: white !important;
  background-color: red !important;
}

#contact {
  margin-bottom: 70px !important;
}
#contact .container .row form input {
  border-color: red !important;
  border-radius: 5px !important;
}
#contact .container .row form input:focus {
  border-color: black !important;
}
#contact .container .row form textarea {
  border-color: red !important;
  min-height: 10rem !important;
  max-height: 10rem !important;
}
#contact .container .row form textarea:focus {
  border-color: black !important;
}
#contact .container .row .button a {
  border-radius: 5px !important;
  color: white !important;
  background-color: red !important;
  padding: 5px 100px !important;
}
#contact .container .row .button a:hover {
  padding: 4px 96px !important;
  color: red !important;
  background-color: white !important;
  border: 2px solid red;
}
#contact .container .row .info ul li i {
  color: red;
}
#contact .container .row .info ul li i:hover {
  color: black;
}

#register .contant .card {
  padding: 50px !important;
  box-shadow: 3px 3px 15px #c4c4c4;
  border: none !important;
  border-radius: 10px !important;
}
#register .contant .card h2 {
  font-weight: bold;
  margin-bottom: 20px !important;
  border-radius: 2px;
  padding-left: 10px !important;
  border-left: 3px solid red !important;
}
#register .contant .card p {
  color: black;
  opacity: 0.7;
}
#register .contant .card form input {
  border-radius: 7px !important;
}
#register .contant .card form label sup {
  color: red;
}
#register .contant .card form #confirm_password {
  margin-bottom: 20px !important;
}
#register .contant .card form .row .col #btn_register {
  background-color: black;
  color: white;
  padding: 7px 55px;
  box-shadow: 3px 3px 15px #c4c4c4;
  border-radius: 5px !important;
}
#register .contant .card form .row .col #btn_register:hover {
  color: black !important;
  background-color: white !important;
  border: 2px solid black;
  padding: 6px 54px !important;
  box-shadow: none !important;
}
#register .contant .card form .row .col .link {
  font-style: italic;
  margin-left: 10px !important;
}

#sidebar {
  background-color: black !important;
  box-shadow: 5px 5px 15px #696969;
  color: white;
  height: 100vh;
  width: 80px;
  display: flex;
}
#sidebar ul {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
#sidebar ul li {
  list-style: none;
}
#sidebar ul li:last-child {
  margin-top: 250px;
}

#dashboard .row .contant #table table {
  min-width: 800px !important;
}

/*# sourceMappingURL=style.css.map */
