$color-primary:red;
$color-black:black;
$color-white:rgb(255, 255, 255);
$color-login:#F3F2EF;
$color-shadow:#c4c4c4;
$color-shadow-dashboard:#696969;
$color-icons: #34B3F1;
$color-bg-dashboard: rgb(239, 239, 239);


/*mixin for center element*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
} 

/*mixin box shadow for button */
@mixin shadow {
  box-shadow: inset 3px 3px 20px $color-primary,3px 3px 20px $color-primary;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  font-family:'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#icons_menu{
  background-color: $color-primary !important;
}
#NAVBAR{
  background-color: $color-white;
  .container a span{
    color: $color-black;
    & #text_logo{
      color: $color-primary;
    }
  }
  #navbar_menu ul li a{
    color: $color-black;
    &:hover{
      color: $color-primary;
    }
  }
  #btn_sigin{
    margin-right: 10px;
  }
  #btn_login{
    margin-top: 2px;
    padding: 5px 20px;
    background-color: $color-primary;
    color: $color-white !important;
    border-radius: 5px;
    &:hover{
      padding: 3px 18px;
      border: 2px solid $color-primary !important;
      background-color: $color-white !important;
      color: $color-primary !important;
    }
  } 
}
#section1_landing{
  background-color: $color-primary !important;
  color: $color-white !important;
  .contact_section1{
    height: 100%;
    margin-left: 80px;
    padding-bottom: 110px;
    #text_primary_landing{
      font-weight: bold;
      padding-top:  170px;
    }
    #btn_section1{
      color: $color-white !important;
      border-radius: 5px;
      border: 2px solid $color-white;
      margin-top: 50px;
      padding: 5px 25px;
      &:hover{
        background-color: $color-white;
        color: $color-primary !important;
      }
    }
  }
}
#section2_landing{
  position: relative;
  padding-right: 200px !important;
  #img_body_landing_page{
    position: absolute !important;
    right: 90px !important;
  }
}
#container_fluid{
  @include center();
  background-color: $color-white !important;
  padding: 20px;
  #contant{
    padding-bottom: 0 !important;
    max-width: 120vh;
    height: 80vh;
    box-shadow: 5px 5px 20px $color-shadow;
    border-radius: 10px;
    background-color: $color-white !important;
    #text_login{
      padding-left: 10px;
      margin-bottom: 50px !important;
      border-left: 3px solid $color-primary !important;
    }
    #login{
      background-color: $color-black;
      color: $color-white;
      border-radius: 5px;
      padding: 6px 100px !important;
      &:hover{
        border: 2px solid $color-black;
        color: $color-black;
        background-color: $color-white;
        padding: 5px 98px !important;
      }
    }
    #img_login{
      border-radius: 0px 10px 10px 0px;
      width: 100%;
      height: 100%;
    }
  }
}
#navbar{
  position: relative;
  background-color: $color-primary;
  color: $color-white;
  h1{
    color: $color-black;
  }
  #icons li{
    margin-right: 20px !important;
    &:first-child{
      margin-left: -30px !important;
    }
    &:hover{
      color: $color-icons;
    }
  }
  ul li{
    list-style: none;
    &:nth-child(1){
      font-weight: bold;
      margin-bottom: 15px !important;
    }
    a{
      text-decoration: none;
      color: $color-white;
      &:hover{
        color: $color-black;
      }
    }
  }
  #paragraph{
    font-size: small;
    position: absolute;
    top: 185px;
  }
}
#about{
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  .contant_about{
    margin-top: 150px !important;
  }
  #image_about{
    #img{
     margin-top: 0px !important;
    }
  }
  span:nth-child(1){
    color: $color-black;
    opacity: 0.5;
  }
  h3 span{
    color: $color-primary !important;
    opacity: 1 !important;
  }
}
#team{
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  .title{
    span{
      color: $color-black;
      opacity: 0.5;
    }
    h3 span{
      color: $color-primary !important;
      opacity: 1;
    }
  }
  .contant_card{
    @include center();
    margin-top: 100px !important;
    .card{
      @include center();
      position: relative;
      border: 1px solid $color-black !important;
      border: none;
        // width: 18rem !important;
      &:hover{
        box-shadow: 5px 5px 10px $color-shadow;
        border: none !important;
      }
      li{
        list-style: none;
        margin-right: 30px !important;
        i{
          color: $color-black;
          &:hover{
            color: $color-primary;
          }
        }
      }
      h5{
        color: $color-black;
        opacity: 0.5;
      }
      img{
        border: none !important;
        box-shadow:  0px 3px 6px $color-shadow;
        position: relative;
        top: -20px !important;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
  }
}
#cars{
  @include center();
  .container{
    .row{
      @include center();
      .contant_cars{
        width: 17rem !important;
        height: 20rem !important;
        margin-bottom: 25px !important;
        .cars{
          img{
            max-height: 10rem !important;
            min-height: 10rem !important;
          }
          .card-body{
            padding-top: 20px !important;
            span{
              color: $color-black;
              opacity: 0.7;
              &:hover{
                opacity: 1 !important;
              }
            }
            h5{
              font-weight: bold;
            }
            p{
              color: $color-primary;
              font-weight: bold;
            }
            a{
              border-radius: 3px !important;
              padding: 4px 49px !important;
              background-color: $color-white;
              color: $color-primary;
              border: 2px solid $color-primary !important;
              &:hover{
                @include shadow();
                padding: 5px 50px;
                color: $color-white !important;
                background-color: $color-primary !important;
              }
            }
          }
        }
       }
    }
  }
}
#contact{
  margin-bottom: 70px !important;
  .container{
    .row{
      form{
        input{
          border-color: $color-primary !important;
          border-radius: 5px !important;
          &:focus{
            border-color: $color-black !important;
          }
        }
        textarea{
          border-color: $color-primary !important;
          min-height: 10rem !important;
          max-height: 10rem !important;
          &:focus{
            border-color: $color-black !important;
          }
        }
      }
      .button{
        input{
          border-radius: 5px !important;
          color: $color-white !important;
          background-color: $color-primary !important;
          padding: 5px 100px !important;
          &:hover{
            padding: 4px 96px !important;
            color: $color-primary !important;
            background-color: $color-white !important;
            border: 2px solid $color-primary;
          }
        }
      }
      .info{
        ul{
          li{
            i{
              color: $color-primary;
              &:hover{
                color: $color-black;
              }
            }
          }
        }
      }
    }
  }
}
#register{
  // margin: 0px !important;
  .contant{
    .card{
      padding: 50px !important;
      box-shadow: 3px 3px 15px $color-shadow;
      border: none !important;
      border-radius: 10px !important;
      h2{
        font-weight: bold;
        margin-bottom: 20px !important;
        border-radius: 2px;
        padding-left: 10px !important;
        border-left: 3px solid $color-primary !important;
      }
      p{
        color: $color-black;
        opacity: 0.7;
      }
      form{
        input{
          border-radius: 7px !important;
        }
        label{
          sup{
            color: $color-primary;
          }
        }
        #confirm_password{
          margin-bottom: 20px !important;
        }
        .row{
          .col{
            #btn_register{
              background-color: $color-black;
              color: $color-white;
              padding: 7px 55px;
              box-shadow: 3px 3px 15px $color-shadow;
              border-radius: 5px !important;
              &:hover{
                color: $color-black !important;
                background-color: $color-white !important;
                border: 2px solid $color-black;
                padding: 6px 54px !important;
                box-shadow: none !important;
              }
            }
            .link{
              font-style: italic;
              margin-left: 10px !important;
            }
          }
        }
      }
    }
  }
}
// style sidebar dashboard
#sidebar{
  background-color: $color-black !important;
  box-shadow: 5px 5px 15px $color-shadow-dashboard;
  color: $color-white !important;
  height: 100vh;
  width: 80px;
  display: flex;
  ul{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    li{
      list-style: none;
      &:last-child{
        margin-top: 250px;
      }
      a{
        color: $color-white !important;
      }
    }
  }
}
#dashboard{
  .row{
    .contant{
      #table{
        table{
          min-width: 800px !important;
        }
      }
    }
  }
}
#payment{
  background-color: $color-white !important;
  form{
    #btn_reservation{
      background-color: $color-primary !important;
      border: none !important;
      color: $color-white;
    }
    div{
      #paypal{
        padding: 4px 85px;
        color: $color-white;
        background-color: #3A5BA0;
        border: none;
      }
    }
  }
}
