$color-primary:red;
$color-black:black;
$color-white:rgb(255, 255, 255);
$color-login:#F3F2EF;
$color-shadow:#c4c4c4;
$color-icons: #34B3F1;

/*mixin for center element*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
} 

/*mixin box shadow for button */
@mixin shadow {
  box-shadow: inset 3px 3px 20px $color-primary,3px 3px 20px $color-primary;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  font-family:'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#icons_menu{
  background-color: $color-primary !important;
}
#NAVBAR{
  background-color: $color-white;
  .container a span{
    color: $color-black;
    & #text_logo{
      color: $color-primary;
    }
  }
  #navbar_menu ul li a{
    color: $color-black;
    &:hover{
      color: $color-primary;
    }
  }
  #btn_sigin{
    margin-right: 10px;
  }
  #btn_login{
    margin-top: 2px;
    padding: 5px 20px;
    background-color: $color-primary;
    color: $color-white !important;
    border-radius: 5px;
    &:hover{
      box-shadow: none;
      padding: 3px 18px;
      border: 2px solid $color-primary !important;
      background-color: $color-white !important;
      color: $color-primary !important;
    }
  } 
}
#section1_landing{
  background-color: $color-primary !important;
  color: $color-white !important;
  .contact_section1{
    height: 100%;
    margin-left: 80px;
    padding-bottom: 110px;
    #text_primary_landing{
      font-weight: bold;
      padding-top:  170px;
    }
    #btn_section1{
      color: $color-white !important;
      border-radius: 5px;
      border: 2px solid $color-white;
      margin-top: 50px;
      padding: 5px 25px;
      &:hover{
        background-color: $color-white;
        color: $color-primary !important;
      }
    }
  }
}
#section2_landing{
  position: relative;
  padding-right: 200px !important;
  #img_body_landing_page{
    position: absolute !important;
    right: 90px !important;
  }
}
#container_fluid{
  @include center();
  background-color: $color-login !important;
  padding: 20px;
  #contant{
    padding-bottom: 0 !important;
    max-width: 120vh;
    height: 80vh;
    box-shadow: 5px 5px 20px $color-shadow;
    border-radius: 10px;
    background-color: $color-white !important;
    #text_login{
      padding-left: 10px;
      margin-bottom: 50px !important;
      border-left: 3px solid $color-primary !important;
    }
    #login{
      background-color: $color-black;
      color: $color-white;
      &:hover{
        border: 2px solid $color-primary;
        color: $color-primary;
        background-color: $color-white;
      }
    }
    #img_login{
      border-radius: 0px 10px 10px 0px;
      width: 100%;
      height: 100%;
    }
  }
}
#navbar{
  position: relative;
  background-color: $color-primary;
  color: $color-white;
  h1{
    color: $color-black;
  }
  #icons li{
    margin-right: 20px !important;
    &:first-child{
      margin-left: -30px !important;
    }
    &:hover{
      color: $color-icons;
    }
  }
  ul li{
    list-style: none;
    &:nth-child(1){
      font-weight: bold;
      margin-bottom: 15px !important;
    }
    a{
      text-decoration: none;
      color: $color-white;
      &:hover{
        color: $color-black;
      }
    }
  }
  #paragraph{
    font-size: small;
    position: absolute;
    top: 185px;
  }
}
#about{
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  #image_about{
    #img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 5px 5px 10px $color-shadow;
    }
  }
  span:nth-child(1){
    color: $color-black;
    opacity: 0.5;
  }
  h3 span{
    color: $color-primary !important;
    opacity: 1 !important;
  }
}
#team{
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  .title{
    span{
      color: $color-black;
      opacity: 0.5;
    }
    h3 span{
      color: $color-primary !important;
      opacity: 1;
    }
  }
  .contant_card{
    @include center();
    margin-top: 100px !important;
    .card{
      @include center();
      position: relative;
      box-shadow: 5px 5px 10px $color-shadow;
      border: none;
      max-width: 200px !important;
      height: 250px !important;
      &:hover{
        box-shadow: 2px 2px 5px $color-shadow;
      }
      li{
        list-style: none;
        margin-right: 30px !important;
        i{
          color: $color-black;
          opacity: 0.7;
          &:hover{
            color: $color-primary;
            opacity: 1;
          }
        }
      }
      h3:hover{
        color: $color-primary;
      }
      h5{
        color: $color-black;
        opacity: 0.5;
        &:hover{
          color: $color-primary;
          opacity: 1;
        }
      }
      img{
        box-shadow:  2px 2px 5px $color-shadow;
        position: relative;
        top: -60px !important;
        border-radius: 100%;
        height: 110px;
        width: 110px !important;
      }
    }
  }
}
#cars{
  @include center();
  .container{
    .row{
      align-items: center !important;
      justify-content: center !important;
      .contant_cars{
        width: 17rem;
        min-height: 20rem !important;
        margin-bottom: 25px !important;
        .cars{
          img{
            max-height: 10rem !important;
            min-height: 10rem !important;
          }
          .card-body{
            padding-top: 20px !important;
            span{
              color: $color-black;
              opacity: 0.7;
              &:hover{
                opacity: 1 !important;
              }
            }
            h5{
              font-weight: bold;
            }
            p{
              color: $color-primary;
              font-weight: bold;
            }
            a{
              border-radius: 3px !important;
              padding: 4px 49px !important;
              background-color: $color-white;
              color: $color-primary;
              border: 2px solid $color-primary !important;
              &:hover{
                @include shadow();
                padding: 5px 50px;
                color: $color-white !important;
                background-color: $color-primary !important;
              }
            }
          }
        }
       }
    }
  }
}
#contact{
  margin-bottom: 70px !important;
  .container{
    .row{
      form{
        input{
          border-color: $color-primary !important;
          border-radius: 5px !important;
        }
        textarea{
          border-color: $color-primary !important;
          min-height: 10rem;
        }
      }
      .button{
        a{
          border-radius: 5px !important;
          color: $color-white !important;
          background-color: $color-primary !important;
          &:hover{
            color: $color-black !important;
            background-color: $color-white !important;
            border: 2px solid $color-black;
          }
        }
      }
      .info{
        ul{
          li{
            i{
              color: $color-primary;
              &:hover{
                color: $color-black;
              }
            }
          }
        }
      }
    }
  }
}
